/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2017, 1:00:52 PM
    Author     : afkeely
*/
.navbarLogo{
    color: white;
    font-family: Brush Script Std;
    font-size: 3em;
}
header.masthead{
    background-image: url('img/marshall/Marshall_Logo_lrg.png');
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
